// --------------------------
// VARIABLES
// --------------------------
$maincolor: #272829;
$secondcolor: #61677A;
$thirdcolor: #D8D9DA;
$fourthcolor: #FFF6E0;


@mixin white-text-black-bg {
  color: $thirdcolor;
  background-color: $maincolor;
}

@mixin black-test-white-bg {
  color: $maincolor;
  background-color: $thirdcolor;
}

// --------------------------
// Header
// --------------------------

nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: flex-start;

  a {
    @include white-text-black-bg;
    div {
      margin: 10px;
      font-size: large;
    }
  }
}

// --------------------------
// Form
// --------------------------

section,
div {
  form {
    input {
      @include white-text-black-bg;
      padding: 10px;
      font-size: 1.1em;
      margin: 10px;

      &[type="submit"]:hover {
        @include black-test-white-bg;
      }
    }
  }
}

// --------------------------
// images
// --------------------------

img {
padding: .5rem;
  width: 120px;
  height: 120px;
  border-radius: 90px;
  object-fit: cover;
}

body {
    background: $fourthcolor;
}

a {
  text-decoration: none;
  font-size:  20px;
  padding: .5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  right: 10px;
}

li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

* {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
